html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 35% 65%;
  min-height: 100vh;
  gap: 15px;
}

.left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.right {
  display: grid;
  gap: 25px;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  color: black;
  overflow-y: auto;
}

.up {
  display: grid;
  place-items: end start;
  overflow: hidden;
}

.form {
  display: grid;
  overflow: hidden;
}

body {
  overflow-x: hidden; /* Hide horizontal overflow */
}
